<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>WishDo Accueil</title>
  </head>
    <body>
        <header>
            <h1>WISHDOW</h1>
        </header>
        <main>
            <!-- Formulaire de connexion -->
            <div class="form">
                <label for="name">Nom</label>
                <input type="text" name="name" id="name" required />
            </div>
            <div class="form">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password" required />
            </div>
            <div class="form">
                <input type="submit" value="OK" />
            </div>
            </form>
            <!-- Liens mot de passe et inscription -->
            <p>J'ai oublié mon mot de passe <a href=""></a></p>
            <p>M'inscrire<a href=""></a></p>
        </main>
    </body>
</html>
