<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>WishDo Accueil</title>
  </head>
  <body>
    <header>
      <h1>WISHDO</h1>
    </header>
    <main>
      <!-- Formulaire de connexion -->
      <form action="menu.html" method="get">
        <div class="form">
          <label for="prenom">Prénom</label>
          <input type="text" name="prenom" required />
        </div>
        <div class="form">
          <label for="motdepasse">Mot de passe</label>
          <input type="password" name="motdepasse" required />
        </div>
        <div class="form">
          <input type="submit" value="OK" />
        </div>
      </form>
      <!-- Lien inscription -->
      <p><a href="/register.html">M'inscrire</a></p>
    </main>
  </body>
</html>
