<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Confirmation d'inscription</title>
  </head>
  <body>
    <h1><% =resultat></h1>
    <a href="/">Connexion</a>
  </body>
</html>
