<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>WishDo wish listes</title>
  </head>
  <body>
    <header>
      <h1>WISHDOW</h1>
    </header>
    <main>
      <button type="button"><%= utilisateur %></button>
      <button type="button">La wish des autres</button>
    </main>
  </body>
</html>
