// Liste de mes wishes

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/3.css" />
    <title>WishDo</title>
  </head>
  <body>
    <header>
      <h1><img src="../images/logo_wishdo.svg" alt="" /></h1>
      <h2>
        Mes Wishs
      </h2>
    </header>
    <main>
      <form action="">
        <button type="submit">Ajouter un Wish</button>
      </form>
      <!--Ajout de la fonction ajouter un wish-->

      <% utilisateurs.forEach(function(user){ %>
      <li><%= user.prenom %></li>
      <% }) %>

      <ul>
        <li>
          <a href="">Lien vers le produit</a>
          <h5>prix</h5>
          <button><img src="../images/trash.svg" alt="" /></button>
        </li>
        <li>
          <a href="">Lien vers le produit</a>
          <h5>prix</h5>
          <button><img src="../images/trash.svg" alt="" /></button>
        </li>
        <li>
          <a href="">Lien vers le produit</a>
          <h5>prix</h5>
          <button><img src="../images/trash.svg" alt="" /></button>
        </li>
      </ul>
    </main>
  </body>
</html>
