<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add a wish</title>
  </head>
  <body>
    <h2>Ajouter une wish</h2>
    <form action="/user/{USERNAME}/wishlist" method="get">
      <label for="nom">
        Mon souhait
        <input type="text" name="nom" required />
      </label>
      <label for="prix">
        Le prix (en €)
        <input type="number" min="0" name="prix" />
      </label>
      <label for="url">
        Le lien de mon souhait
        <input type="text" name="url" />
      </label>
      <button type="submit">Ajouter</button>
      <button>Fermer</button>
    </form>
  </body>
</html>
