<!-- liste d'amis -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
        <title>Liste d'amis</title>
</head>
<body>
    <header>
        <h1>WISHDO</h1>
        <nav>
            <ul>
                <li>liste de mes amis</li>
                <li>Ma wishDo</li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>liste de mes amis</h2>
        <!-- liste des amis -->
        <ul>
            <li><a href="">amis 1</a></li>
            <li><a href="">amis 2</a></li>
            <li><a href="">amis 3</a></li>
            <li><a href="">amis 4</a></li>
        </ul>
    </main>
    <footer>
        @copyright
    </footer>
    </body>
</html>