// liste des wishes d'autres users

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Ma WishList</title>
  </head>
  <body>
    <header>
      <h1><img src="../images/logo_wishdo.svg" alt="" /></h1>
      <h2>
        Wish de <%=code%>
        <!-- Nom du USER -->
      </h2>
    </header>
    <main>
      <ul>
        <li>
          <a href="">Lien vers le produit</a>
          <h5>prix</h5>
          <button><img src="../images/trash.svg" alt="" /></button>
        </li>
        <li>
          <a href="">Lien vers le produit</a>
          <h5>prix</h5>
          <button><img src="../images/trash.svg" alt="" /></button>
        </li>
        <li>
          <a href="">Lien vers le produit</a>
          <h5>prix</h5>
          <button><img src="../images/trash.svg" alt="" /></button>
        </li>
      </ul>
    </main>
  </body>
</html>
