<!-- consultation d'un cadeau d'un ami -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
        <title>Consultation carte</title>
</head>
<body>
    <header>
        <h1>WISHDO</h1>
        <nav>
            <ul>
                <li>liste de mes amis</li>
                <li>Ma wishDo</li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Nom de la personne -->
        <h2><%= othername %></h2>
        <!-- Nom de l'élément -->
        <p><%= name %></p>
        <!-- Prix de l'élément -->
        <p><%= price %>€</p>
        <!-- Le lien externne de l'élément -->
        <a href=<%= link %>>Voir le produit</a>
        <button>Réservé</button>
        <form action='jachete.html' method='get'> <!-- preventdefault -->   
            <button type='submit'>j'offre ce wish</button>    
        </form>
        <form action='pareil.html' method='get'> <!-- preventdefault -->   
            <button type='submit'>je veux le même</button>    
        </form>
        <button>Fermer</button>
    </main>
    <footer>
        @copyright
    </footer>
    </body>
</html>