<!-- consultation d'un cadeau d'un ami -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
        <title>Consultation carte</title>
</head>
<body>
    <header>
        <h1>WISHDO</h1>
        <nav>
            <ul>
                <li>liste de mes amis</li>
                <li>Ma wishDo</li>
            </ul>
        </nav>
    </header>
    <main>
            <h2>Nom de ami</h2>
            <p> titre de l'article</p>
            <p>Prix de l'article</p>
            <a href="#url">url du wish</a> <!--  ouverture dans nouvelle fenetre -->
            <button>Réservé</button>
            <form action='jachete.html' method='get'> <!-- preventdefault -->   
                <button type='submit'>j'offre ce wish</button>    
            </form>
            <form action='pareil.html' method='get'> <!-- preventdefault -->   
                <button type='submit'>je veux le même</button>    
            </form>
            <button>Fermer</button>
    </main>
    <footer>
        @copyright
    </footer>
    </body>
</html>